
@media(max-width:991px){
    .header__container{
        padding:25px !important;
    }
    .logo__img{
        width:50% !important;
    }
}


.header__container{
    text-align: center;
    background:#6FB2D2;
    padding:50px;
}
.logo__img{
    width:25%;
    height:auto;
}